* {
        padding: 0;
        margin: 0;
        font-size: 1rem;
}

html
{
        scroll-behavior: smooth;
}

body {
        background-color: black;
}

nav {
        display: flex;
        width: 100%;
}

.navbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 10%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;

}

.logo,
.links,
.headerContent {
        display: flex;
        margin: 1%;
        justify-content: center;
        align-items: center;
}

.logo {
        width: 5%;
        aspect-ratio: 1/1;
        clip-path: circle(50%);
        transition: all 1s ease-in-out;
        z-index: 2;
        position: relative;
}

.logo:hover
{
        transform: scale(10) translate(50%, 50%);
}

.logo>img {
        width: 100%;
        aspect-ratio: 1/1;
}

.links {
        width: 30%;
        font-size: 2em;
}

ul {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: space-around;
        font-size: 0.5em;
        position: relative;
        border: 2px grey solid;
}

ul>li {
        margin: 1%;
        transition: all 0.2s linear;
        font-size: 1em;
}

li>a {
        text-decoration: none;
        color: white;
        transition: all 0.2s linear;
        font-size: 1em;
}

a:hover {
        color: rgb(169, 103, 231);
}

li:hover {
        transform: scale(1.5) rotate(360deg);
        border-radius: 20%;
}

header {
        display: flex;
        color: rgb(207, 155, 77);
        aspect-ratio: 4/1;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-items: center;
}

header p {
        color: rgb(219, 189, 148);
}

.headerContent {
        flex-direction: column;
        height: max-content;
        margin: 0;
        width: 75%;
}

header h1 {
        font-size: 2rem;
}

header h1,
p,
button {
        margin: 1%;
}

header button {
        background: black;
        background-size: 200% 100%;
        color: white;
        border-radius: 25%;
        aspect-ratio: 5/1.5;
        transition: all 0.2s ease-out;
        padding: 0 1%;
}

header button:hover {
        color: black;
        background: white;
        transform: rotate(360deg);
}

@keyframes fill {}

header::before {
        content: "";
        background: url('./img/background.jpg') no-repeat center center/cover;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        filter: blur(1.5px);
}

.menuContainer {
        display: flex;
        background-color: rgb(49, 44, 44);
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        align-items: center;
}

.menuContainer div {
        display: flex;
        margin: 1%;
        padding: 1%;
        flex-direction: column;
        border: 2px beige solid;
        text-align: center;
        border-radius: 5%;
        align-items: center;
}

.menuContainer .content
{
        border-radius: 0;
        text-align: left;
}

.food
{
        display: flex;
        flex-direction: row !important;
        border: none !important;
}

.menuContainer .foodImg h2 {
        color: blanchedalmond;
        letter-spacing: 1px;
        margin: 1%;
        padding: 1%;
}

.menuContainer h2 {
        font-size: 1.5rem;
}

section span {
        text-align: left;
        color: darkgrey;
        margin: 1%;
        padding: 1%;
}

img {
        width: 50%;
        aspect-ratio: 1/1;
        object-fit: contain;
        border-radius: 10px;
        padding: 1%;

}

.aboutContainer {
        display: flex;
        justify-content: space-around;
        padding: 1%;
        position: relative;
        flex-direction: column;
        align-items: center;
}

.content {
        width: 50%;
        margin: 1%;
        overflow: hidden;
}

.aboutContainer div {
        display: flex;
}

.content img {
        width: 100%;
        padding: 0;
}

.h2 {
        justify-content: flex-start !important;
        border: 2px solid black !important;
}

.content h2 {
        animation: fill 8s ease-in infinite;
        width: 100%;
        text-shadow: 2.5px 1px 1px black;
}

.content span {
        color: purple;
        font-size: 1.6rem;
}

@keyframes fill {
        100% {
                transform: translateX(70vw);
        }
}

.aboutContainer::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: url('./img/bg1.jpg') no-repeat center/cover;
        z-index: -2;
}

.contactContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
}

.contactContainer .content
{
        border: 2px white solid !important;
        width: 75%;
}

.contactContainer h2
{
        animation: none;
        text-align: center;
}

.contactContent {
        display: flex;
        width: 75%;
        padding: 2%;
        justify-content: center;
        aspect-ratio: 2/1;
}

form {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.4);
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        border-radius: 15%;
        padding: 2%;
}

input,
textarea {
        width: 50%;
        transition: all 0.5s ease-in;
        background-color: rgba(0, 0, 0);
        color: wheat;
        border-radius: 15px;
        padding: 1%;
}

input::placeholder,
textarea::placeholder {
        color: burlywood;
        caret-color: wheat;
}

input:hover,
textarea:hover {
        transform: scale(1.5);
}

.buttons {
        width: 50%;
        display: flex;
}

footer
{
        display: flex;
        color: black;
        background-color: rgba(176, 224, 230, 0.767);
        justify-content: center;
}

footer p
{
        font-size: 1rem;
}



@media (max-width:1600px) and (min-width : 1450px)
{
        :root
        {
                font-size: 20px;
        }
}

@media (max-width:1449px) and (min-width : 1350px)
{
        :root
        {
                font-size: 18px;
        }
}

@media (max-width:1349px) and (min-width : 1224px)
{
        :root
        {
                font-size: 16px;
        }
}

@media (max-width:1223px) and (min-width : 1150px)
{
        :root
        {
                font-size: 15px;
        }
}

@media (max-width:1149px) and (min-width : 1100px)
{
        :root
        {
                font-size: 14px;
        }
}

@media (max-width:1099px) and (min-width : 1024px)
{
        :root
        {
                font-size: 12.5px;
        }
}

@media (max-width:1023px) and (min-width : 901px)
{
        :root
        {
                font-size: 11px;
        }
}


@media (max-width:900px) and (min-width:400px)
{
        :root
        {
                font-size: 12px;
        }

        .food
        {
                flex-direction: column !important;
        }

        .logo
        {
                width: 10%;
        }
        .links
        {
                width: 80%;
        }

        header
        {
                aspect-ratio: 1/1.2;
                justify-content: center;
        }

        .headerContent
        {
                width: 100%;
                text-align: center;
        }

        .headerContent h1, .headerContent p, .headerContent button
        {
                margin: 3%;
        }

        .menuContainer
        {
                flex-direction: column;
                align-items: center;
        }

        .menuContainer div
        {
                width: 90%;
        }

        form
        {
                width: 100%;
                border-radius: 25px;
        }

        input,textarea, .buttons
        {
                width: 75%;
        }
}

@media (max-width:399px) and (min-width:270px)
{
        :root
        {
                font-size: 10px;
        }

        .food
        {
                flex-direction: column !important;
        }

        .logo
        {
                width: 10%;
        }
        .links
        {
                width: 80%;
        }

        header
        {
                aspect-ratio: 1/1.2;
                justify-content: center;
        }

        .headerContent
        {
                width: 100%;
                text-align: center;
        }

        .headerContent h1, .headerContent p, .headerContent button
        {
                margin: 3%;
        }

        .menuContainer
        {
                flex-direction: column;
                align-items: center;
        }

        .menuContainer div
        {
                width: 90%;
        }

        form
        {
                width: 100%;
                border-radius: 25px;
        }

        input,textarea, .buttons
        {
                width: 75%;
        }
}

@media (max-width:269px) and (min-width:50px)
{
        :root
        {
                font-size: 6px;
        }

        .food
        {
                flex-direction: column !important;
        }

        .logo
        {
                width: 10%;
        }
        .links
        {
                width: 80%;
        }

        header
        {
                aspect-ratio: 1/1.2;
                justify-content: center;
        }

        .headerContent
        {
                width: 100%;
                text-align: center;
        }

        .headerContent h1, .headerContent p, .headerContent button
        {
                margin: 3%;
        }

        .menuContainer
        {
                flex-direction: column;
                align-items: center;
        }

        .menuContainer div
        {
                width: 90%;
        }

        form
        {
                width: 100%;
                border-radius: 25px;
        }

        input,textarea, .buttons
        {
                width: 75%;
        }
}